<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
  <h1 align=center>hello my world</h1>
  {{age}}
  {% if age == 21 %}
  <h2> major</h2>
  {% else %}
  minor
  {% endif %}
  {% if 10 != 9 %}
  This appears if variable somevar does not equal the string "x",
  or if somevar is not found in the context
{% endif %}
</center>
</body>
</html>
